.crew{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}
.subtitulo span{
    color: var(--secundary-color);
    opacity: .25;
    font-weight: 700;
}
.crew__img{
    height: 223px;
}
.img-box{
    width: 100%;
    border-bottom: 1px solid #383B4B;
}
.crew__inputs-box input{
    display: none;
}
.crew__label{
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #979797;
    margin-right: 1rem;
}
.crew__label:last-child{
    margin-right: 0;
}
.description-box span{
    display: block;
    font-family: var(--font-family-titulo);
    text-transform: uppercase;
}
.crew__nome{
    font-size: 24px;
    color: var(--tertiary-color);
    margin-top: .75rem;
    margin-bottom: 1rem;
}
.crew-active.crew__label{
    background-color: var(--tertiary-color);
    opacity: 1;
}

@media screen and (min-width: 767px) {
    .crew{
        padding-bottom: 0;
        padding-top: 40px;
    }
    .img-box{
        order: 2;
        border-bottom: none;
        
    }
    .crew__img{
        height:55vh ;
    }
    .crew__inputs-box{
        order: 1;
    }
    .description-box{
        width:55% ;
    }
    .crew__nome{
        font-size: 40px;
    }
    .crew__profissao{
        font-size: 24px;
    }
    .crew__subtitulo{
        align-self: flex-start;
    }
    
}
@media screen and (min-width:1024px) {
    .crew{
       
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: end;
        padding-top: 7vh;
        gap: 0;
        text-align: left;
        column-gap: 80px;
    }
    .crew__subtitulo{
        text-align: left;
        justify-self: flex-start;
        font-size: 28px;
    }
    .crew__label{
        height: 15px;
        width: 15px;
        opacity: 0.2;
    }
    .crew__label:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .img-box{
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
    .crew__profissao{
        font-size: 32px;
    }
    .crew__nome{
        font-size: 56px;
    }
    .crew__paragrafo{
        font-size: 18px;
        line-height: 32px;
    }
    .crew__img{
        height: 100%;
    }
    .description-box{
        width: 100%;
    }
    .crew__inputs-box,.description-box{
        align-self: center;
        justify-self: flex-start;
    }
  

}