header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1.5rem;
}
.cabecalho__icon{
    background: url(../../assets/shared/icon-hamburger.svg) no-repeat center;
   height: 2rem;
   width: 2rem;
}
.cabecalho__logo{
   
}
.cabecalho__navegacao{
   
   
}
.cabecalho__lista{
 
}
.cabecalho__item{
    list-style-type: none;
}
.oculto{
    display: none;
}