header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 0;
}
.cabecalho__logo{
    height: 40px;
    width: 40px;
}
.cabecalho__icon--menu{
    background: url(../../assets/shared/icon-hamburger.svg) no-repeat center;
    height: 2rem;
    width: 2rem;
}
.navegacao__icon--close{
   background: url(../../assets/shared/icon-close.svg) no-repeat center;
    padding: 1rem;
    align-self: flex-end;
    margin-right: .75rem;
}

.nav-box{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem 0rem 1rem 2rem;
    background-color: var(--bkg-primary-color);
    height: 100vh;
    backdrop-filter: blur(40.7742px);
    width: 66vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}
.cabecalho__navegacao{
    width: 100%;
}
.cabecalho__lista{
    list-style-type: none;
    
}
.cabecalho__item{

   margin-bottom: 2rem;
}
.cabecalho__link{
    display: inline-block;
    padding: 8px 0;
    width: 100%;
    text-decoration: none;
    letter-spacing: 2.7px;
    color: var(--tertiary-color);
    
}
.cabecalho__link strong{
    margin-right: 14px;
    font-weight: 700;
}
.active{
    border-right: 4px solid var(--tertiary-color);
}
.oculto{
    display: none;
}

@media screen and (min-width: 767px) {
    header{
        padding: 0;
        justify-content: space-between;
    }
    header.container{
        max-width: 100%;
        margin: 0;
    }
    .cabecalho__logo{
        margin-left: 40px;
    }
    .cabecalho__icon--menu{
        display: none;
    }
    .nav-box{
        position: initial;
        display: block;
        height: 100%;
        padding: 0 40px;
        width: auto;
        background-color:  #191D27;
        backdrop-filter: blur(0px);
    }
    .cabecalho__item{
        margin-bottom: 0;
    }
    .navegacao__icon--close{
        display: none;
    }
    .cabecalho__lista{
        display: flex;
        gap: 37px;
    }
    .cabecalho__link{
        padding: 40px 0;
        border-bottom: 4px solid transparent;
    }
    .cabecalho__link strong{
        display: none;
    }
    .active{
        border-right: 0;
        border-bottom: 4px solid var(--tertiary-color);
    }

}