.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:81px;
    padding-top: 1.5rem;
    text-align: center;
    justify-content: space-around;
    min-height: calc(100vh - 64px);
}
.banner-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.home__titulo{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: var(--font-family-titulo);
    color: var(--tertiary-color);
}

.home__subtitulo{
    color: var(--secundary-color);
}

.home__paragrafo, .paragrafo{
    line-height: 25px;
    
}
.home__botao{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: var(--font-family-titulo);
    border: none;
}

@media screen  and (min-width:767px){
    .home{
        padding-top: 106px;
        padding-bottom: 90px;
    }
    .banner-box{
        gap: 1.5rem;
        width: 65%;
    }
    .paragrafo{
        line-height: 28px;
    }
    .home__subtitulo{
        align-self: center;
        color: var(--secundary-color);
    }
    .home__paragrafo{
        letter-spacing: 1.5px;
    }
    .home__titulo{
        font-size: 150px;
    }
    .home__botao{
        height: 242px;
        width: 242px;
        font-size: 32px;
        letter-spacing: 2px;
    }

    
}

@media screen and (min-width:1024px) {
    .home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: end;
        min-height: 0;
        padding-top: 0;
    }
    .banner-box{
        justify-self: start;
        text-align: left;
        width: 450px;
    }
    .home__botao{
        justify-self: end;
        height: 274px;
        width: 274px;
    }
    .home__subtitulo{
        align-self: flex-start;
        letter-spacing: 4.72px;
        font-size: 28px;
    }
    .home__paragrafo{
        font-size: 18px;
        line-height: 32px;
    }
    .home__botao:hover{
        box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
    
}