*{
    box-sizing: border-box;
}
body{
    background-image: url(../../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
body,html,a{
    font-family: var(--font-family-p);
    color: var(--secundary-color);
}
.container{
    max-width: 88%;
    margin: 0 auto;
}