:root{

    --primary-color: #0B0D17;
    --secundary-color: #d0d6f9;
    --tertiary-color: #fff;
    
    --font-family-titulo: 'Bellefair', serif;
    --font-family-p: 'Barlow Condensed', sans-serif;

}
