:root{

    --primary-color: rgb(11, 13, 23);
    --bkg-primary-color: rgba(11,13,23,0.04);
    
    --secundary-color: #d0d6f9;
    --tertiary-color: #fff;
    
    --font-family-titulo: 'Bellefair', serif;
    --font-family-p: 'Barlow Condensed', sans-serif;

}
